html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(145, 217, 243, 1) 0%, rgba(147, 164, 243, 1) 90%);
}

.card {
  transition: transform .2s ease-out;
}

#interactive .in-deck {
  text {
    opacity: 0;
  }
}

.dragging {
  pointer-events: none;
}

#drop-hints {

  > g {
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }
}

